@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'opensansemibold';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'opensansbold';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/RalewayRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ralewaybold';
    src: url('../fonts/RalewayBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ralewaylight';
    src: url('../fonts/RalewayLight.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ralewaysemibold';
    src: url('../fonts/RalewaySemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*Normalize*/

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

aside, nav, footer, header, section {
    display: block;
}

html, body {
    height: 100%;
    /*min-width: 1400px;*/
}

body {
    /*line-height: 1;*/
    color: #333;
    font-size: 16px;
    font-family: 'opensans', sans-serif;
}

input, button, textarea {
    font-family: 'opensans', Verdana, Geneva, Tahoma, sans-serif;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul, li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    max-width: 1105px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:1024px) {
    .container {
        max-width: none;
        padding: 20px;
    }
}

@media (max-width:769px) {
    .container {
        max-width: none;
        padding: 10px;
    }
}

.title {
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    color: #212121;
    line-height: 43px;
    text-transform: uppercase;
    text-align: center;
    font-style: normal;
    font-weight: 400;
}

.main__menu {
    background-color: rgb(0, 0, 0);
}

.header__section {
    position: relative;
}

.head {
    display: none;
    width: 100%;
    height: 72px;
    background: #030303;
}

.div__lock {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .1);
}

.div__lock.close__lock {
    display: block;
    z-index: 4;
}

.header {
    width: 100%;
    background-color: #000000;
    min-height: 70px;
    display: flex;
    align-items: center;
}

.main__menu {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
}

.logo {
    display: flex;
    align-content: center;
    /*justify-content: space-between;*/
    margin-right: 10px;
}

@media(max-width:769px) {
    .logo {
        margin-right: 10px;
        /*flex:1;*/
        display: none;
    }
}

.logo a {
    display: flex;
    align-items: center;
}

.logo__img {
    height: 28px;
}

.nav__phone {
    display: flex;
    align-items: center;
    /*flex-basis: 50%;*/
    color: whitesmoke;
    margin-right: auto;
}

.nav__phone a {
    color: whitesmoke;
    font-size: 14px;
}

.nav__phone img {
    padding-right: 5px;
}

@media(max-width:769px) {
    .nav__phone {
        margin-right: 0;
        /*flex: 1.5;*/
    }
}

.tel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tel__p {
    font-size: 12px;
}

.main-nav {
    flex-basis: 450px;
}

.main-nav__list {
    display: flex;
    justify-content: space-between;
}

.main-nav__item {}

.main-nav__link {
    color: #ffffff;
    font-size: 14px;
    opacity: 0.69;
}

@media(max-width:769px) {
    .main-nav {
        position: fixed;
        top: 70px;
        right: -100%;
        background-color: #000000;
        overflow: auto;
        z-index: 3;
        transition: right 0.8s ease 0.2s;
        height: 100%;
        width: 50%;
    }
    .main-nav.open {
        right: 0;
        transition: right 0.8s ease 0.2s;
    }
    .main-nav__list {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 50%;
    }
    .main-nav__item {
        opacity: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    }
    .main-nav__link {
        font-size: 16px;
        color: #ffffff;
        margin-left: 5px;
    }
    .main-nav__item.fade {
        opacity: 1;
        border-bottom-style: dotted;
    }
    .main-nav__item:nth-child(1) {
        transition: all 0.5s ease 0.25s;
    }
    .main-nav__item:nth-child(2) {
        transition: all 0.75s ease 0.5s;
    }
    .main-nav__item:nth-child(3) {
        transition: all 1.0s ease 0.75s;
    }
    .main-nav__item:nth-child(4) {
        transition: all 1.25s ease 1.0s;
    }
    .main-nav__item:nth-child(5) {
        transition: all 1.5s ease 1.25s;
    }
    body.lock {
        overflow: hidden;
    }
    .head {
        display: block;
    }
    .header {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        min-height: 70px;
        box-shadow: 0 6px 4px -4px #b8bec5;
        transition: 0.9s all ease;
        z-index: 5;
    }
    .header.out {
        transform: translateY(-100%);
    }
}

.burg {
    display: none;
    width: 45px;
    height: 45px;
    /*position: fixed;
    top: 10px;
    right: 10px;*/
    border-radius: 50%;
    background-color: #080808;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
    z-index: 1000;
    transition: all 0.8s ease;
}

@media (max-width: 769px) {
    .burg {
        display: flex;
        /*flex:0.5;*/
        margin-left: auto;
    }
}

.header__burger {
    display: block;
    position: relative;
    width: 25px;
    height: 25px;
    cursor: pointer;
    float: right;
    z-index: 999;
}

.header__burger span {
    position: absolute;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 3px;
    top: 11px;
    transition: all 0.3s ease 0s;
}

.header__burger.active::before {
    transform: rotate(45deg);
    top: 12px;
}

.header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 10px;
}

.header__burger.active span {
    transform: scale(0);
}

.header__burger::before, .header__burger::after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 0.3s ease 0s;
}

.header__burger::before {
    top: 3px;
}

.header__burger::after {
    bottom: 3px;
}

.main {
    width: 100%;
    min-height: 640px;
    /*height: 600px;*/
    background-color: rgb(44, 90, 136);
    /* background: url(../img/tab.jpg) center no-repeat; */
    background: url(../img/server5.jpg) center no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.62;
}

.main__block {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    min-height: 530px;
}

.main__anime {
    display: none;
    min-height: 320px;
}

.main__btn {
    display: flex;
    width: 100px;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    margin-top: 20px;
}

.main__btn-item {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #f5f5f5;
    cursor: pointer;
}

.current-color {
    border: 1px solid #ff8b38;
    background-color: #ff8b38;
}

.main__btn-item:hover {
    background-color: #ff8b38;
}

.title__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    flex-wrap: wrap;
}

@media(max-width:763px) {
    .main__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 100%;
    }
    .main__anime {
        /*display: flex;*/
        flex-direction: column;
        align-items: center;
        flex-basis: 100%;
    }
    .title__block {
        flex-direction: column;
    }
}

@media (max-width:768px) {
    .main {
        flex-wrap: wrap;
        background: url(../img/server5-840.jpg) center no-repeat;
        background-size: cover;
    }
}

.main__logo {
    margin-bottom: 32px;
}

.main__title {
    color: #ffffff;
    margin-bottom: 80px;
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    line-height: 43px;
    text-transform: uppercase;
    text-align: left;
}

.main__text {
    color: #ffffff;
    opacity: 0.82;
    font-size: 16px;
    position: relative;
    /*font-weight: 400;*/
    margin-bottom: 40px;
    font-family: 'Ralewaylight', sans-serif;
    line-height: 23px;
}

.main__text::after {
    display: block;
    position: absolute;
    left: 0;
    /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 64px;
    /*задаём длинну линии до наведения курсора*/
    height: 2px;
    /*задаём ширину линии*/
    background-color: rgb(255, 255, 255);
    /*задаём цвет .menuлинии*/
    content: "";
    transition: width 0.3s ease-out;
    /*задаём время анимации*/
    left: 40px;
    transform: translateX(-50%);
    top: -42px;
    color: #ffffff;
}

@media(max-width:763px) {
    .main__title {
        text-align: center;
    }
    .main__block {
        margin-bottom: 20px;
    }
    .main__text {
        text-align: center;
    }
}

@media(max-width:763px) {
    .main__text::after {
        left: calc(50%);
    }
}

.main__button {
    display: flex;
    /*padding: 8px 15px;*/
    border: solid 2px #f5f5f5;
    width: 170px;
    height: 50px;
    /*text-align: center;*/
    color: #cfcfcf;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px;
}

.main__button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #ff8b38;
    transition: all 1s ease;
}

.main__button:hover {
    color: #000000;
    text-decoration: none;
    /*border:solid 2px #ff8b38;*/
}

.main__button:hover:before {
    width: 100%;
    color: #000000;
    z-index: -1;
}

.main__form {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    justify-content: center;
    align-items: center;
}

.form__block {
    width: 362px;
    height: 362px;
    background-color: #ffffff;
    border-radius: 5px;
}

@media(max-width:400px) {
    .form__block {
        width: 300px;
    }
}

.form__title {
    height: 55px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.form__title-text {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    font-family: 'opensansbold', sans-serif;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.input-group__label {}

.input-group__input {
    width: 284px;
    height: 35px;
    /* box-shadow: 2px 2px 2px #a19f9f; */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    margin-bottom: 35px;
    padding: 10px 5px 7px 15px;
    font-size: 14px;
}

.input-group__input::placeholder {
    color: #bdbdbd;
}

.input-group__input:last-child {
    margin-bottom: 50px;
}

.free {
    color: #384cff;
    color: #06092c;
}

.form__button {
    width: 100%;
    height: 54px;
    background-color: #ff8b38;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #ffffff;
    font-size: 15px;
}

.social__section {
    min-height: 107px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 3px 0px #777;
    position: relative;
}

.social__block {
    display: flex;
}

@media(max-width:600px) {
    .social__block {
        flex-wrap: wrap;
    }
}

.social__icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    flex-basis: 655px;
}

.social__text {
    max-width: 364px;
    font-size: 14px;
    line-height: 20px;
}

.social__title {
    margin-bottom: 1px;
    font-family: 'opensansbold', sans-serif;
    font-size: 20px;
}

.visually__hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

@media(max-width:600px) {
    .social__title {
        margin-bottom: 10px;
    }
    .social__text {
        margin-bottom: 10px;
    }
}

.tab__section {
    min-height: 595px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tab__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(max-width:769px) {
    .tab__block {
        /*flex-wrap: wrap;*/
        justify-content: center;
        /*padding: 20px;*/
        flex-direction: column;
    }
}

.tab__wrp {
    display: flex;
    flex-direction: column;
    /*flex-basis: 70%;*/
    /*flex: 1 1 auto;*/
}

.tabs {
    display: flex;
    justify-content: space-around;
}

@media(max-width:600px) {
    .tabs {
        flex-direction: column;
    }
}

.tabs__section.hide {
    display: none;
}

.show {
    display: flex;
}

.tabs__list {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

@media(max-width:850px) {
    .tabs__list {
        margin-right: 20px;
    }
}

@media(max-width:600px) {
    .tabs__list {
        /*margin-right: 10px;*/
        flex-direction: row;
        margin: 10px;
        align-self: center;
    }
}

.tabs__item {
    width: 100px;
    height: 100px;
    background-color: #333333;
    border-bottom: 1px solid #c7c7c7;
}

@media(max-width:600px) {
    .tabs__item {
        /*width: 80px;*/
        height: 50px;
        border-right: 1px solid #c7c7c7;
        border-bottom: none;
    }
    .tabs__item:last-child {
        /*width: 80px;*/
        height: 50px;
        border-right: none;
    }
}

.tabs__item:last-child {
    border-bottom: none;
}

.tabs__link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    background-color: #333333;
    flex-direction: column;
}

.active__tab {
    background-color: #ff8b38;
}

.tabs__button {
    display: block;
    padding: 15px 10px;
    background-color: #ff8b38;
    width: 120px;
    text-align: center;
    margin: 24px 0 10px 0;
    color: #ffffff;
    border-radius: 2px;
    align-self: center;
}

.tabs__section {
    min-height: 350px;
}

@media(max-width:769px) {
    .tabs__section {
        min-height: 350px;
        padding: 10px;
    }
}

.tabs__body {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-right: 10px;
    overflow: hidden;
}

@media(max-width:450px) {
    .tabs__body {
        align-items: center;
    }
}

.tab__image {
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab__image img {
    /*max-width: 320px;*/
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
}

.Tabs {}

.sub__section {
    min-height: 600px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

.sub__wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub__image {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:769px) {
    .sub__image {
        margin-bottom: 20px;
    }
}

.sub__block {
    display: flex;
    flex-direction: column;
    flex-basis: 41%;
    margin-top: 45px;
}

@media(max-width:400px) {
    .sub__block {
        flex-basis: 100%;
    }
}

@media(max-width:769px) {
    .sub__block {
        margin-top: auto;
    }
}

.sub__title {
    margin-bottom: 40px;
}

.sub__text {
    font-size: 14px;
    position: relative;
    margin-bottom: 50px;
    color: #86878b;
    line-height: 20px;
}

.sub__text::after {
    display: block;
    position: absolute;
    left: 0;
    /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 64px;
    /*задаём длинну линии до наведения курсора*/
    height: 2px;
    /*задаём ширину линии*/
    background-color: #ff8b38;
    /*задаём цвет .menuлинии*/
    content: "";
    top: -35px;
}

.section__text {
    color: #86878b;
    font-size: 14px;
    line-height: 20px;
}

@media(max-width:769px) {
    .sub__text {
        margin-bottom: 20px;
    }
    .section__text {
        margin-bottom: 20px;
    }
}

.sub__list {}

.sub__item {
    display: flex;
    margin-bottom: 40px;
}

@media(max-width:500px) {
    .sub__item {
        flex-direction: column;
        margin-bottom: 20px;
    }
}

.sub__icons {
    width: 100px;
    height: 100px;
    border: 2px solid #ff8b38;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons__wrp {
    /*margin-right: 40px;*/
    flex: 0 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:500px) {
    .icons__wrp {
        display: flex;
        justify-content: center;
        align-content: center;
    }
}

.sub__title-mini {
    margin-bottom: 15px;
}

@media(max-width:500px) {
    .sub__title-mini {
        text-align: center;
    }
}

.standart__section {
    background-color: #f5f5f5;
    min-height: 525px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.process__section {
    min-height: 595px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.process__block {
    display: flex;
    flex-direction: column;
    min-height: 386px;
}

.process__text {
    font-size: 16px;
    position: relative;
    margin-bottom: 78px;
    color: #86878b;
    line-height: 20px;
    text-align: center;
}

@media(max-width:769px) {
    .process__section {
        min-height: 400px;
    }
    .process__text {
        margin-bottom: 40px;
    }
}

.process__text::after {
    display: block;
    position: absolute;
    left: calc(50% - 32px);
    /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 64px;
    /*задаём длинну линии до наведения курсора*/
    height: 2px;
    /*задаём ширину линии*/
    background-color: #ff8b38;
    /*задаём цвет .menuлинии*/
    content: "";
    top: -25px;
}

.card__icons {
    width: 70px;
    height: 70px;
    border: 2px solid #ff8b38;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.process__stack {
    display: flex;
    margin: 0 -10px;
    /*border:1px solid red;*/
    flex-wrap: wrap;
    justify-content: center;
}

@media(max-width:650px) {
    .process__stack {
        flex-wrap: wrap;
    }
}

.process__card {
    /*border: 1px solid #333;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 230px;
    padding: 10px;
    /*border:1px solid green;*/
    flex: 0 0 33.333%;
    /*width: 200px;*/
}

@media(max-width:650px) {
    .process__card {
        flex: 0 1 50%;
    }
}

@media(max-width:450px) {
    .process__card {
        flex: 1 1 auto;
    }
}

.card__title {
    font-size: 20px;
    color: #333333;
    text-align: center;
}

.card__text {
    text-align: center;
    font-size: 14px;
    color: #86878b;
    line-height: 20px;
}

.pricing__section {
    min-height: 884px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #f5f5f5;
}

@media(max-width:769px) {
    .pricing__section {
        min-height: 500px;
    }
}

.pricing__list {
    display: flex;
    margin: 0 -8px;
    align-items: flex-end;
    /*justify-content: space-between;*/
    /*border: 1px solid red;*/
}

.pricing__item {
    /*width: 340px;*/
    padding: 0 8px;
    flex: 0 1 33.3333%;
    /*border: 1px solid blue;*/
    transition: transform 0.25s ease-in-out;
}

.pricing__item:hover {
    cursor: pointer;
    transform: translateY(-50px);
    box-shadow: #d8d5d5;
    transition: transform 0.25s ease-in-out;
}

.pricing__item:first-child, .pricing__item:last-child {
    margin-top: 35px;
}

@media(max-width:675px) {
    .pricing__list {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .pricing__item {
        flex: 0 1 50%;
    }
    .pricing__item {
        margin-top: 20px;
        align-items: center;
    }
    .pricing__item:nth-child(1) {
        order: 1;
    }
    .pricing__item:nth-child(2) {
        order: 3;
    }
    .pricing__item:nth-child(3) {
        order: 2;
    }
}

@media(max-width:440px) {
    .pricing__item {
        flex: 0 1 300px;
    }
    .pricing__item:nth-child(1) {
        order: 1;
    }
    .pricing__item:nth-child(2) {
        order: 2;
    }
    .pricing__item:nth-child(3) {
        order: 3;
    }
}

.pricing__title {
    background-color: #333333;
    padding: 15px 0;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid #ffffff;
}

.pricing__title h3 {
    font-size: 20px;
    font-weight: bold;
}

.pricing__header {
    min-height: 150px;
    color: #ffffff;
    text-align: center;
    background-color: #333333;
    border-bottom: 5px solid #ff8b38;
}

.pricing__dollar {
    font-size: 35px;
    color: #ffffff;
    font-family: 'Ralewaybold', sans-serif;
    font-weight: bold;
}

.pricing__price {
    font-size: 94px;
    color: #ffffff;
    font-family: 'Ralewaybold', sans-serif;
    font-weight: bold;
}

.pricing__desc {
    font-style: italic;
    color: #9b9b9b;
    font-size: 14px;
}

.pricing__good {
    font-size: 14px;
    color: #ffffff;
    ;
    background-color: #ff8b38;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.pricing__body {}

.pricing__copy {}

.copy__item {
    font-size: 14px;
    text-transform: uppercase;
    color: #86878b;
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid #f5f5f5;
    background-color: #ffffff;
}

.process__title {
    margin-top: 40px;
    margin-bottom: 49px;
}

@media(max-width:769px) {
    .process__title {
        margin-bottom: 0;
    }
}

@media(max-width:769px) {
    .process__title {
        margin-top: 5px;
        margin-bottom: 30px;
    }
}

.customer__section {
    min-height: 590px;
    display: flex;
    justify-content: center;
    align-content: center;
}

@media(max-width:769px) {
    .customer__section {
        min-height: 390px;
    }
}

.customer__list {
    display: flex;
    margin: 0 -20px;
}

.customer__item {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    flex: 1 1 33.33%
}

@media(max-width:650px) {
    .customer__list {
        margin: 10px -10px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .customer__item {
        display: flex;
        padding: 10px;
        flex: 0 1 50%
    }
}

@media(max-width:450px) {
    .customer__item {
        display: flex;
        padding: 10px;
        flex: 1 1 100%
    }
}

.customer__item:last-child {
    margin-right: 0px;
}

.customer__review {
    background-color: #f5f5f5;
    padding: 25px 10px;
    margin-bottom: 25px;
    font-style: italic;
    color: #86878b;
    position: relative;
}

.trangel-top {
    bottom: -15px;
    left: 20px;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #f5f5f5;
}

.customer {
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.customer__img {
    padding-right: 15px;
}

.customer__name {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.customer__sername {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}

.customer__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 28px;
}

@media(max-width:769px) {
    .customer__block {
        padding: 20px;
    }
}

/* ОСНОВНЫЕ СТИЛИ */

.slider {
    position: relative;
    overflow: hidden;
    max-width: 100%;
}

.slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
    /* 0.6 длительность смены слайда в секундах */
    /*margin: 0 -20px;*/
    max-width: 100%;
}

.slider__item {
    flex: 0 0 33.33%;
    /* определяет количество активных слайдов (в данном случае 2 */
    max-width: 33.33%;
    /* определяет количество активных слайдов (в данном случае 2 */
    /*padding: 0 -20px;*/
}

@media (max-width: 768px) {
    .slider__item {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 600px) {
    .slider__item {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* СТИЛИ ДЛЯ КНОПОК "НАЗАД" И "ВПЕРЁД" */

.slider__control {
    position: absolute;
    display: none;
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 40px;
    /* ширина кнопки */
    height: 40px;
    /* высота кнопки */
    opacity: .3;
    /* прозрачность */
    background: #000;
    /* цвет фона */
    border-radius: 50%;
}

.slider__control_show {
    display: flex;
}

.slider__control:hover, .slider__control:focus {
    text-decoration: none;
    outline: 0;
    opacity: .9;
    /* прозрачность */
}

.slider__control_left {
    left: 0;
}

.slider__control_right {
    right: 0;
}

.slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    /* ширина иконки (стрелочки) */
    height: 20px;
    /* высота иконки (стрелочки) */
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.slider__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.stylish__section {
    min-height: 320px;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    flex-direction: column;
}

.stylish__section::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.52;
}

.stylysh__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 320px;
    padding: 0 28px;
    z-index: 1;
}

.stylish {
    width: 100%;
    min-height: 320px;
    /*height: 600px;*/
    background-color: rgb(44, 90, 136);
    background: url(../img/u25_state0.jpg) center no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stylish__title {
    color: #ffffff;
    /*margin-top: 108px;*/
    margin-bottom: 63px;
}

.form__section {
    min-height: 612px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.stylish__text {
    font-size: 16px;
    position: relative;
    margin-bottom: 78px;
    color: #ffffff;
    line-height: 20px;
    text-align: center;
    font-weight: 300;
}

@media(max-width:769px) {
    .stylish__text {
        margin-bottom: 35px;
    }
}

.stylish__text::after {
    display: block;
    position: absolute;
    left: calc(50% - 32px);
    /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 64px;
    /*задаём длинну линии до наведения курсора*/
    height: 2px;
    /*задаём ширину линии*/
    background-color: #ffffff;
    /*задаём цвет .menuлинии*/
    content: "";
    top: -35px;
}

.slider-container {
    max-width: 1150px;
    margin: 0 auto;
    z-index: 1;
}

.slider-container li {
    width: 60px;
    height: 60px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-form__section {
    min-height: 610px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.second-form__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 320px;
    padding: 0 28px;
    z-index: 1;
}

.second-form__title {
    margin-bottom: 63px;
}

.second-form__input {
    margin-bottom: 30px;
    display: flex;
}

.second-form__input:last-child {
    margin-bottom: 0px;
}

@media(max-width:769px) {
    .second-form__input:last-child {
        margin-bottom: 30px;
    }
    .second-form__block {
        padding: 20px;
    }
}

.second-form__input input {
    border: 0;
    border-bottom: 1px solid #d6d6d6;
    outline: 0;
    width: 500px;
    /*width: 100%;*/
    /*flex: 1 0 40%;*/
    /*width: max(40%,520px);*/
    padding: 12px;
    font-size: 14px;
    color: #d8d5d5;
}

.second-form__input textarea {
    border: 0;
    border-bottom: 1px solid #d6d6d6;
    outline: 0;
    /*width: max(40%,520px);*/
    width: 500px;
    /*width:100%;*/
    /*flex: 1 0 40%;*/
    font-size: 14px;
    color: #d8d5d5;
    padding: 12px;
}

@media(max-width:1200px) {
    .second-form__input input, .second-form__input textarea {
        width: 300px;
    }
}

.second-form__input textarea::placeholder {
    font-size: 14px;
    color: #bdbdbd;
}

.second-form__input input::placeholder {
    font-size: 14px;
    color: #bdbdbd;
}

.second-form__wrp {
    display: flex;
    /*flex-basis: 50%;*/
    margin: 0 -20px;
    /*flex-wrap: wrap;*/
}

@media(max-width:769px) {
    .second-form__wrp {
        flex-direction: column;
        justify-content: center;
    }
}

.second-form__message {}

.second-form__left {
    padding: 0 40px;
}

.second-form__text {
    font-size: 16px;
    position: relative;
    margin-bottom: 78px;
    color: #000000;
    line-height: 20px;
    text-align: center;
    font-weight: 300;
}

@media(max-width:769px) {
    .second-form__text {
        margin-bottom: 35px;
    }
    .second-form__left {
        padding: 0;
    }
}

.second-form__text::after {
    display: block;
    position: absolute;
    left: calc(50% - 32px);
    /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 64px;
    /*задаём длинну линии до наведения курсора*/
    height: 2px;
    /*задаём ширину линии*/
    background-color: #ff8b38;
    /*задаём цвет .menuлинии*/
    content: "";
    top: -35px;
}

.form__wrp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.tabs__button-mod {
    margin-top: 42px;
    width: 146px;
}

@media(max-width:769px) {
    .tabs__button-mod {
        margin-top: auto;
    }
}

.footer__section {
    min-height: 83px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #000000;
}

.footer__social {
    margin: 0 auto;
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer__social img {
    width: 20px;
}

.st0 {
    fill: #CCCCCC;
}

.st0:hover {
    fill: #ff8b38;
}

.st1 {
    fill: rgb(255, 255, 255);
}

.slider__card {
    color: #fff;
}

.footer__text {
    color: #676767;
    font-size: 12px;
    text-align: center;
}

.current {
    display: flex;
    flex-direction: column;
    animation: fade 1.2s ease;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: translateX(-80px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}